

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #607D8B;

    h1 {
        font-size: 2rem;
    }

    div {
        mat-icon {
            height: 50px;
            width: 50px;
            font-size: 48px;
        }
        mat-icon:hover {
            color: #E91E63;
        }
    }
}
