
<h1>About Quiz App</h1>

<div class="about-text">
  <div class="about-column">
    <h2>Quiz Game</h2>
    <p>wkdwjdnwsjdnskdnskdkdskdnsndsnbdnsbdnsdbsnbdsbdjsbjsmanfjkbsvlhjdbv ufgwgfwyf ywtfwytfwufuwyduw uytwdyuwdwugdwygwygwygfnnnnnnnnnnnnjwdhwbfhwgfwgfwygfwyg wygfywgfywfgwygfwyg </p>
  </div>

  <div class="about-column">
    <h2>Users</h2>
    <p>wkdwjdnwsjdnskdnskdkdskdnsndsnbdnsbdnsdbsnbdsbdjsbjsmanfjkbsvlhjdbv ufgwgfwyf ywtfwytfwufuwyduw uytwdyuwdwugdwygwygwygfnnnnnnnnnnnnjwdhwbfhwgfwgfwygfwyg wygfywgfywfgwygfwyg </p>
  </div>

  <div class="about-column">
    <h2>Questions</h2>
    <p>wkdwjdnwsjdnskdnskdkdskdnsndsnbdnsbdnsdbsnbdsbdjsbjsmanfjkbsvlhjdbv ufgwgfwyf ywtfwytfwufuwyduw uytwdyuwdwugdwygwygwygfnnnnnnnnnnnnjwdhwbfhwgfwgfwygfwyg wygfywgfywfgwygfwyg </p>
  </div>
</div>
