
<h1>About Quiz App</h1>

<div class="about-text">
  <div class="about-column">
    <h2>Quiz Game</h2>
    <p>
      The Quiz game consists of two parts - choosing what type of questions you would like answer
      and of course answer the quiz questions and get the best score you could. You can choose between two types
      of questions - random and defined. As you can tell random are random every time you start a new game whereas
      defined questions are the same. However users with admin permissions can create, edit or delete defined
      questions so they can change as well. Some of the rules of the game are that you can't go to next question
      without answering the current one. As for future features a timer will be added to every question so that
      googling or looking for answers will be kept at a minimum.
    </p>
  </div>

  <div class="about-column">
    <h2>Users</h2>
    <p>
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
      users users users users users users users users users users users users users users users users users users
    </p>
  </div>

  <div class="about-column">
    <h2>Questions</h2>
    <p>
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
      questions questions questions questions questions questions questions questions questions questions
    </p>
  </div>
</div>
