header {
    position: absolute;
    top: 5px;
    left:10px;
    width: 99%;
    background-color: rgb(150, 150, 150);
    height: 60px;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    h2 {
        margin-top: 10px;
        font-size: 1.6rem;
    }

    button {
        margin-right: 10px;

        mat-icon {
            font-size: 1.7rem;
        }
    }
}