.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-content {
    width: 40%;
    background-color: rgb(150, 150, 150);
    padding: 30px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid white;
}

form {
    h1 {
        text-align: center;
        font-size: 2.5rem;
        color:aliceblue;
    }

    .fields {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
    }

    .submit {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .login-button {
        font-size: 1.4rem;
    }

    mat-form-field {
        margin-bottom: 1.2rem;
    }

    .goto-signup {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 1rem;
        }
        a {
            text-decoration: none;
            color:white;
        }
        p {
            font-size: 1.2rem;
            margin-top: 10px;
            text-decoration: underline;
            cursor: pointer;
        }
        p:hover {
            color:#c2185b;
        }
    }
}