<div class="wrapper mat-app-background">
    <div class="form-content">
        <form [formGroup]="form">
            <h1>Login</h1>
            <hr>

            <div class="fields">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-error *ngIf="email.touched && email.invalid">{{emailErrors()}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput appBlockCopyPaste [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-error *ngIf="password.touched && password.invalid">{{passwordErrors()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="submit">
                <button mat-raised-button color="primary" class="login-button" (click)="onSubmit()">Submit</button>
            </div>

            <div class="goto-signup">
                <span>or</span>
                <a routerLink="/authentication/signup"><p>Sign-up</p></a>
            </div>
            
            
        </form>
    </div>
</div>
