.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow-y: auto;

}

.modal-content {
  position: relative;
  background-color: rgb(150,150,150);
  margin: 0 auto;
  margin-top: -50%;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  animation-name: modalPop;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;

  h1 {
    text-align: center;
    color:white;
    font-size: 1.8rem;
  }
  .close-modal {
    color:white;
    position: absolute;
    top:5px;
    right: 5px;
  }

  .modal-form {
    width: 90%;
    margin: 0 auto;

    .mat-form-field {
      width: 100%;
      margin-top: 1rem;
    }

    .create-btn-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      button {
        font-size: 1.3rem;
      }
    }
  }
}

@keyframes modalPop {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 5%;
  }
}

